{% extends "Principal/index.html" %}

{% block content %}


<section class="page-section bg-primary" id="about">
    
    <h1>Mascota: {{ perrito.nombre }}</h1>
    
</section>

<div>
 
    <h2>DATOS</h2>
    <img src="{{perrito.portada.url}}" alt="x" width="100" height="100">
    <h3><p>ID: {{ perrito.id }}</p> </h3>
    <h3><p>Raza: {{ perrito.raza }}</p> </h3>
    <h3><p>Pelaje: {{ perrito.color_pelaje }}</p> </h3>
    <h3><p>Tamaño: {{ perrito.tamaño }}</p> </h3>
    <h3><p>Edad: {{ perrito.edad }}</p> </h3>
</div> 

<div>
    <br>
    <h2>GALERIA</h2>
        <table>
            <tr>
        {% for i in imagenes %}
           {% if perrito == i.perrito %}
                <td><img src="{{i.imagen.url}}" alt="x" width="100" height="100"></td>
            {% endif %} 
        {% endfor %} 
            </tr>
        </table>
</div>

</div>


{% endblock %}