{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Frida AC - adopta a un angel</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'Principal/assets/favicon.ico' %}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'Principal/css/styles.css' %}" rel="stylesheet" /> 

    </head>
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <img src="{% static 'Principal/assets/img/frida ac logo.png' %}"width="100" height="100">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Galeria</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Brinda una nueva vida a una mascota</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Encuetra en este momento a esa pieza faltante en tu vida, brinda un nuevo hogar a una mascota</p>
                        <a class="btn btn-primary btn-xl" href="#">Ir a adoptar</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Proceso de adopción en linea-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Conoce el como adoptar en linea.</h2>
                    </div>
                </div>
            </div>
            <!-- inicio de capturas-->
        </section class="page-section bg bg-primary" id="captura">
        <div class="row justify-content-center align-items-center">
            <h2 class="text-center mt-0">Placeholder 1</h2>
            <img src="{% static 'Principal/assets/img/puppy-placeholder.jpg' %}" alt="Imagen señalando parte 1">
            <h2 class="text-center mt-0">Placeholder 2</h2>
            <img src="{% static 'Principal/assets/img/puppy-placeholder2.jpg' %}" alt="Imagen señalando parte 2">      
        </div>
        </section>


        <!-- INICIO DE CAMBIOS-->

        <section class="page-section bg-white" id="services">
            <div class="container">
                <h2 class="text-center mt-0">Conoce las ventajas de la adopción en linea</h2>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-3 col-md-3 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-house fs-1 text-green"></i></i></div>
                            <h3 class="h4 mb-2">Comodidad</h3>
                            <p class="text-muted mb-0">Conoce todas las mascotas que te están esperando, ¡Desde la comodidad de tu casa!</p>
                        </div>
                    </div>
                    <div class="col-lg-3  text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-check2-circle fs-1 text-green"></i></div>
                            <h3 class="h4 mb-2">Rapido</h3>
                            <p class="text-muted mb-0">Agenda tu cita en menos de 5 minutos para conocer el próximo miembro de la familia</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-collection fs-1 text-green"></i></div>
                            <h3 class="h4 mb-2">Variedad</h3>
                            <p class="text-muted mb-0">Enamorate de nuevo al ver la gran cantidad de almas gemelas que se encuentran esperandote</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FIN DE CAMBIOS-->
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">¿Tienes Dudas? ¡Contáctanos!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Si te quedó alguna duda sobre el proceso de Adopción no te preocupes, puedes mandarnos un mensaje; solo llena el siguiente formulario y enseguida te contactaremos:</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nombre Completo:</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Se necesita un nombre para continuar.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Correo Electronico</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Se necesita un correo para continuar .</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">El email no es correcto.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Número de Telefono</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Se necesita un número de telefono para continuar.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Escribe tu mensaje aqui..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Mensaje Breve</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Se necesita un mensaje para continuar.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Se envió la petición de contacto!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error al enviar el mensaje!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Aceptar</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>Línea Directa: Telefono FRIDA</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - FRIDA A.C</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'Principal/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
