{% extends "Principal/index.html" %}
{% load static %}
{% block content %}



    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Galeria</h2>
                    <hr class="divider divider-light" />
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- Galeria-->
    <body id="page-top">
    <section class="page-section" >

        
            

                    {% for i in mascotas %}
                    <div class="responsive">

                        <div class="galeria">
                            <a  href="{% url 'Mascota' %}?mascota={{i.id}}" title="Project Name">
                                <img class="img-fluid"  src="{{i.portada.url}}" alt="Texto alternativo imagen 1" >
                            </a>
                            <div class="desc">{{i.nombre}}</div>
                        </div>
                        
                    </div>
                    {% endfor%}
                    

        
{% endblock %}