{% extends "Principal/index.html" %}

{% block content %}


<section class="page-section bg-primary" id="about">
    
    <h1>GALERIA</h1>
    
</section>



<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Raza</th>
        <th scope="col">Color</th>
        <th scope="col">Edad</th>
        <th scope="col">Galeria</th>
    </tr>
    </thead>

{% for i in mascotas %}
    <tbody>
    <tr>
        <th scope="row">{{i.nombre}}</th>
        <td>{{i.tamaño}}</td>
        <td>{{i.raza}}</td>
        <td>{{i.color_pelaje}}</td>
        <td>{{i.edad}}</td>   

        {% for o in imagenes %}
            {% if i == o.perrito %}
                <td><img src="{{o.imagen.url}}" alt="x" width="100" height="100"></td>
            {% endif %}
        {% endfor %}       
    </tr>
    </tbody>

{% endfor %}
</table>


{% endblock %}